/* ul > li {
    width: 100px;
    height: 50px;
    color: blue;
} */

#menu > li {
    width: 100px;
    height: 50px;
    color: blue;
}

ul em {
    color: red;
}

div:nth-child(2){
    background-color:green;
}

#former {
    background-color: aqua;
}

#former + div {
    background-color:yellow
}

h1, h3, h5 {
    color: pink;
}

h4, h6, div > p {
    color: orange;
}

a[href = "https://www.ironhack.com/"]{
    color: crimson;
    text-decoration: underline;
}